/* .toggle-container {
    text-align: center;
}

#toggleButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e74c3c!important;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
   
}

#toggleButton.active {
 
     background-color: #3498db;
} */

.toggle-container {
    text-align: center;
}

.btn-primary.active {
    background-color: #3498db;
}

.btn-primary:not(.active) {
    background-color: #e74c3c;
}
.table>:not(caption)>*>*{
    padding: 0!important;
}