.table>:not(caption)>*>* {
    padding: 0 !important;
}

.header {
    display: flex;
    justify-content: space-around;
}

.text-head {
    color: rgb(235, 229, 229);
    text-align: center;
    width: 40%;

}

.func {
    display: flex;
    justify-content: center;
}

/* ========================== */
.popup {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(20px);

}

.tkb img {
    width: 99%;
    display: flex;
    justify-content: center;


}

.tkb {

    display: flex;

    justify-content: center;
    margin-top: 10vh;
    align-items: center;
     

}


/* ========================== */

body {
    padding: 1vh;
    font-family: sans-serif;
    font-weight: lighter;
 /* background-color: rgb(224, 237, 238) !important; */
}
 
#header {
    font-size: 3em;
    font-weight: 100;
    color: rgb(26, 40, 44);
    text-shadow: 0 0 20px #cbd4d8;
}

#header div {
    display: inline-block;
    min-width: 90px;
}

#header div span {
    color: #B1CDF1;
    display: block;
    font-size: .35em;
    font-weight: 400;
}



.container {
    display: flex;
    justify-content: center;
    margin: 5vh;
}

.popup-game {
    display: none;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #08a4c1;
    margin: 0 5vh;
    margin: 1vh 0;
    background-color: #08a4c1;
}

.popup-naptien {
    display: none;
    text-align: center;

    border-radius: 10px;


}

.popup-game .btn {
    margin: 10px;
}

.choose {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.sodu,
.wallet {
    display: block;
    justify-content: flex-start;
}

.tiktok {
    width: 20px;
    height: 20px;
}

.menu{
   position: relative;
   width: 200px;
   height: 200px;
   /* background: #0f0; */
   display: flex;
   justify-content: center;
   align-items: center;
    
}

.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(100px);
}

.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5vh;
    height: 4.5vh;
    background: #fff;
    border-radius: 50%;
    transform: rotate(calc(360deg / -5 * var(--i)));
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    color: #111;
    transition: 0.5s;
  
}

.menu.active li{
    transform: rotate(calc(360deg / 5 * var(--i)));
}
.toggle{
    position: absolute;
    width: 10vh;
    height: 10vh;
    background: #e85c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    font-size: 2em;
    transition: 1.25s;
   
}
.menu.active .toggle{
    transform: rotate(315deg);
}





.pyramid-loader {
    position: relative;
    width: 300px;
    height: 300px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .pyramid-loader .wrapper .side {
    width: 70px;
    height: 70px;
  /* you can choose any gradient or color you want */
    /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }
  
  .pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }
  
  .pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }
  
  .pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }
